.arrow {
  position: relative;
  top: 0;
  width: 50px;
  &.arrow0 {
    display: none;
  }
  &.arrow1 {
    transform: rotate(140deg);
    top: 40px;
    left: 180px;
  }
  &.arrow2 {
    transform: scaleX(-1);
    top: -20px;
    left: 140px;
  }
  &.arrow3 {
    transform: rotate(-30deg);
    top: -25px;
    left: 300px;
  }
  &.arrow4 {
    transform: scaleX(-1) rotate(-36deg);
    top: -25px;
    right: 360px;
  }
  &.arrow5 {
    transform: rotate(-30deg);
    top: -25px;
    left: 15px;
  }
}

.arrow .curve {
  border: 2px solid red;
  border-color: transparent transparent transparent red;
  height: 150px;
  width: 100px;
  border-radius: 230px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 15px;
  top: 127px;
}

.arrow .point:before,
.arrow .point:after {
  content: "";
  border: 1px solid red;
  height: 25px;
  position: absolute;
}

.arrow .point:before {
  top: -11px;
  left: -11px;
  transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
  left: 5px;
  transform: rotate(12deg);
}
