@import "../../style/mixins";
@import "../../style/colors";

.render__task-wraper {
  @include centerColumn;
  justify-content: center;
  margin-bottom: 14px;
}
.task {
  @include centerRow;
  width: 100%;
  border-bottom: 2px solid $dark-gray;
  &__btn {
    margin-right: 24px;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    &:first-child {
      margin-right: 0px;
    }
  }
}
.check-false {
  font-size: 26px;
}
.task-title {
  @include fontAndWeight;
  font-size: 18px;
  line-height: 29px;
  color: #3e3b3b;
  width: 720px;
  padding-left: 18px;
  border: none;
  outline: none;
}
.task-description {
  font-family: "Monda", sans-serif;
  height: 80px;
  max-height: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: $dark-gray;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
@media (min-width: 360px) and (max-width: 400px) {
  .render__task {
    padding: 0;
    &-wraper {
      width: 296px;
      margin-bottom: 25px;
    }
  }
  .task-title {
    width: 210px;
    padding-left: 15px;
  }
  .task-btn {
    margin-right: 24px;
  }
  .task-btn:last-child {
    margin-right: 0px;
  }
  .check-true {
    font-size: 25px;
  }
  .check-false {
    font-size: 20px;
  }
  .pencil {
    font-size: 20px;
  }
  .bin {
    font-size: 20px;
  }
}
@media (min-width: 401px) and (max-width: 440px) {
  .render__task {
    padding: 0;
    &-wraper {
      width: 310px;
      margin-bottom: 25px;
    }
  }
  .task-title {
    width: 220px;
    padding-left: 15px;
  }
  .task-btn {
    margin-right: 24px;
  }
  .task-btn:last-child {
    margin-right: 0px;
  }
  .check-true {
    font-size: 30px;
  }
  .check-false {
    font-size: 25px;
  }
  .pencil {
    font-size: 25px;
  }
  .bin {
    font-size: 25px;
  }
}
@media (min-width: 441px) and (max-width: 471px) {
  .render__task {
    padding: 0;
    &-wraper {
      width: 340px;
      margin-bottom: 25px;
    }
  }
  .task-title {
    width: 220px;
    padding-left: 15px;
  }
}
@media (min-width: 471px) and (max-width: 580px) {
  .render__task {
    padding: 0;
    &-wraper {
      width: 370px;
      margin-bottom: 25px;
    }
  }
  .task-title {
    width: 250px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) and (max-width: 912px) {
  .render__task {
    padding: 0;
    &-wraper {
      width: 650px;
      margin-bottom: 25px;
    }
  }
  .task-title {
    width: 630px;
    padding-left: 15px;
  }
}
