@import "../../style/mixins";
@import "../../style/colors";

.select-wrapper {
  position: relative;
  margin-bottom: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: $khaki transparent transparent transparent;
  }
}
