@import "../../style/mixins";
@import "../../style/colors";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  @include centerRow;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.modal.active {
  z-index: 99;
  opacity: 1;
  pointer-events: all;
}
.modal__content {
  @include centerColumn;
  flex-wrap: nowrap;
  padding: 20px;
  border-radius: 12px;
  background-color: $light-turquoise;
  height: 20vh;
  width: 50vw;
  transform: scale(0.5);
  transition: 0.3s all;

  &-flex {
    @include centerColumn;
  }
  &-title {
    @include fontAndWeight;
    font-size: calc(20px + 8 * (100vw / 1280));
    line-height: 24px;
    color: $black;
    margin-bottom: 37px;
  }
}
.section__buttons {
  display: flex;
  &-once {
    @include centerRow;
    @include fontAndWeight;
    font-size: calc(18px + 8 * (100vw / 1280));
    line-height: 18px;
    color: $dark-gray;
    height: 5vh;
    width: 10vw;
    padding: 16px 39px;
    background: linear-gradient(90deg, $green 0%, $light-turquoise 115.2%);
    box-shadow: 0px 4px 4px $light-turquoise;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.modal__content.active {
  transform: scale(1);
}

@media (min-width: 360px) and (max-width: 400px) {
  .modal__content {
    height: 28vh;
  }
  .section__buttons {
    &-once {
      margin-right: 10px;
    }
  }
}
@media (min-width: 401px) and (max-width: 440px) {
  .modal__content {
    height: 22vh;
  }
  .section__buttons {
    &-once {
      margin-right: 10px;
    }
  }
}
