@import "../../style/mixins";
@import "../../style/colors";
.render__task {
  margin-bottom: 34px;
  &-title {
    @include fontAndWeight;
    font-size: 28px;
    line-height: 48px;
    color: $black;
  }
}
