@import "../../style/mixins";
@import "../../style/colors";

.add__task {
  @include centerColumn;
  margin-bottom: 28px;
  position: sticky;
  top: 0;
  &-input {
    width: 816px;
    height: 41px;
    max-height: 200px;
    @include fontAndWeight;
    font-size: 18px;
    line-height: 29px;
    background-color: $green;
    border-radius: 25px;
    padding: 6px 28px;
    margin-bottom: 26px;
    border: none;
    outline: none;
    position: relative;
    z-index: 2;
    resize: none;
    @media (min-width: 360px) and (max-width: 400px) {
      width: 296px;
      padding: 6px 16px;
    }
    @media (min-width: 401px) and (max-width: 440px) {
      width: 310px;
      padding: 6px 16px;
    }
    @media (min-width: 441px) and (max-width: 471px) {
      width: 340px;
      padding: 6px 16px;
    }
    @media (min-width: 471px) and (max-width: 580px) {
      width: 370px;
      padding: 6px 16px;
    }
    @media (min-width: 768px) and (max-width: 912px) {
      width: 650px;
      padding: 6px 16px;
    }
  }
  &-area {
    @include fontAndWeight;
    width: 816px;
    height: 41px;
    max-height: 200px;
    font-size: 18px;
    line-height: 29px;
    background-color: $green;
    border-radius: 25px;
    padding: 6px 28px;
    margin-bottom: 26px;
    border: none;
    outline: none;
    position: relative;
    z-index: 2;
    resize: none;
    &::-webkit-scrollbar {
      width: 0px;
    }
    @media (min-width: 360px) and (max-width: 400px) {
      width: 296px;
      height: 124px;
    }
    @media (min-width: 401px) and (max-width: 440px) {
      width: 310px;
      height: 124px;
    }
    @media (min-width: 441px) and (max-width: 471px) {
      width: 340px;
      height: 124px;
    }
    @media (min-width: 471px) and (max-width: 580px) {
      width: 370px;
      height: 124px;
    }

    @media (min-width: 768px) and (max-width: 912px) {
      width: 650px;
      height: 41px;
    }
  }

  &-btn {
    @include fontAndWeight;
    font-size: 18px;
    line-height: 29px;
    color: $dark-gray;
    width: 290px;
    padding: 16px 122px;
    background: linear-gradient(90deg, $green 0%, $light-turquoise 115.2%);
    box-shadow: 0px 4px 4px $light-turquoise;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 500ms ease;
    &:hover {
      transform: scale(1.05);
    }
    @media (min-width: 360px) and (max-width: 400px) {
      width: 300px;
      padding: 16px 130px;
      &:hover {
        transform: none;
      }
    }
    @media (min-width: 401px) and (max-width: 440px) {
      width: 310px;
      padding: 16px 140px;
      &:hover {
        transform: none;
      }
    }
    @media (min-width: 441px) and (max-width: 471px) {
      width: 340px;
      padding: 16px 150px;
      &:hover {
        transform: none;
      }
    }
    @media (min-width: 471px) and (max-width: 580px) {
      width: 370px;
      padding: 16px 150px;
      &:hover {
        transform: none;
      }
    }
    @media (min-width: 768px) and (max-width: 912px) {
      width: 640px;
      padding: 16px 150px;
      &:hover {
        transform: none;
      }
    }
  }
}
.errorMessage {
  @include fontAndWeight;
  font-size: 18px;
  line-height: 29px;
  color: $red;
  margin: -20px 0 10px 0;
}
