@import "../../style/mixins";
@import "../../style/colors";

html,
body {
  height: 100%;
  font-size: 16px;
}
.centr__page {
  display: flex;
  justify-content: center;
}
.wraper {
  width: 1200px;
  min-height: 100vh;
  @include centerColumn;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
}
.main {
  @include centerColumn;
  justify-content: center;
  text-align: center;
}
.check-true {
  font-size: 30px;
  color: $khaki;
  pointer-events: none;
}

.check-false {
  font-size: 30px;
  color: $light-gray;
  pointer-events: none;
}
.display {
  display: none;
}
.pencil {
  font-size: 25px;
  color: $khaki;
  pointer-events: none;
}

.bin {
  font-size: 25px;
  color: $greyish-red;
  pointer-events: none;
}

.block-input {
  pointer-events: none;
}

.header {
  margin: 30px 0 43px 0;
  position: relative;
  &__title {
    @include fontAndWeightHigh;
    font-size: 48px;
    line-height: 78px;
    letter-spacing: 0.25em;
    color: $black;
    display: block;
    position: relative;
    z-index: 2;
  }
  .cloud {
    position: absolute;
    width: 487.07px;
    height: 210px;
    width: 547.07px;
    height: 240px;
    border-radius: 50%;
    background-color: $light-turquoise;
    right: 54px;
    top: -171px;
    box-shadow: 20px 40px $dark-turquoise;

    &:before {
      content: "";
      position: absolute;
      width: 487.07px;
      height: 252px;
      width: 547.07px;
      height: 302px;
      border-radius: 50%;
      background-color: $light-turquoise;
      right: -242px;
      right: -308px;
      top: 0px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 487.07px;
      height: 252px;
      width: 547.07px;
      height: 302px;
      border-radius: 50%;
      right: -242px;
      right: -308px;
      top: 0px;
      box-shadow: -10px 40px $dark-turquoise;
      z-index: -1;
    }
  }
}
