$white: #f4f4f4;
$green: #a8d2a5;
$trans-light-green: #a8d2a5b3;
$light-green: #dcecdb;
$light-turquoise: #acd4e1;
$red: #ff0000;
$dark-gray: #3e3b3b;
$khaki: #156b2d;
$light-gray: #a09d9d;
$greyish-red: #bc0808;
$black: #000000;
$transparent-black: #00000040;
$dark-turquoise: #c8e3ec;
