$green: #a8d2a5;
$light-turquoise: #acd4e1;
$red: #ff0000;
$dark-gray: #3e3b3b;
$khaki: #156b2d;
$light-gray: #a09d9d;
$greyish-red: #bc0808;
$black: #000000;
$dark-turquoise: #c8e3ec;
// #c8e3ec;
//

$body-background: #f4f4f4;
$gray: #645766;
