.slider__wraper {
  height: 90vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.slider__wraper.active {
  z-index: 99;
  opacity: 1;
  pointer-events: all;
}
